Source: wb-dauerhaft-pro
Maintainer: Wiren Board team <ilya.tikhonyuk@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13)
Homepage: https://github.com/wirenboard/wb-git-template-dpkg-simple

Package: wb-dauerhaft-pro
Architecture: all
Depends: ${misc:Depends},
         wb-rules (>= 2.20.0~~)
Description: Wiren Board MQTT Driver for Dauerhaft PRO RS-485 actuators
 Installation package with the wb-rules script for working with Dauerhaft PRO motors using the “Dauerhaft PRO RS-485 v2.3” protocol
